services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    container_name: ollama
    pull_policy: always
    tty: true
    restart: unless-stopped
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}

  the-finance-genie:
    build:
      context: .
      args:
        OLLAMA_BASE_URL: '/ollama'
      dockerfile: Dockerfile
    image: ghcr.io/the-finance-genie/the-finance-genie:${WEBUI_DOCKER_TAG-main}
    container_name: the-finance-genie
    volumes:
      - the-finance-genie:/app/backend/data
    depends_on:
      - ollama
    ports:
      - ${THE_FINANCE_GENIE_PORT-3000}:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  ollama: {}
  the-finance-genie: {}
